@charset "UTF-8";

/*
	복수 선택자 : ,
	하위 선택자 : 띄어쓰기.
	class= . id= #
*/

.flexbox1 , .flexbox2, .flexbox3, .flexbox4, .flexbox5
{display: flex; width: 200px;}

.flexbox1{align-items: flex-start; flex-wrap: wrap;}
.flexbox2{align-items: center;}
.flexbox3{align-items: flex-end;}
.flexbox4{align-items: stretch; /*높이가 없을때 다른 요소(제일 큰 높이)랑 동일하게 맞춤*/}
.flexbox5{align-items: baseline; flex-wrap: wrap;}

.box1 , .box2 , .box3, .box4, .box5, .box6
{	background: blue; 
	color: white; 
	border: 1px solid white;}

.box1{width: 50px; height: 50px;}
.box2{width: 100px; height: 100px; display: inline-flex; align-items: center;}

.box4{width: 80px}
.box5{width: 150px; display: inline-flex; align-items: center;}