@charset "UTF-8";

#header{
	display: flex;
	justify-content: space-between;
	position: sticky; /*해당 요소가 화면에 나갔을때 위치 고정*/
	top: 0px; 	/* 가장 위에 */
		
	
	background-color:red;
	border-bottom:  1px solid #eeeeee; 
	
	z-index: 1;	/* 다른 요소와 겨볐을때의 대한 배치 순서 */
}

#header .h_menu li{
	display: inline-block;	
}


.popup {
	width: 20%;
	border: 2px solid #eeeeee;
	position: fixed; 	/*화면 위치 고정*/
	right: 0px; top: 50%;	/* 가장 오른쪽에 위에서부터 40% */

	opacity : 80%;		/* 투명도 [ % , 소수점 ]*/
	background-color: white;	/* 기본값 : transparent */
}

body{background-color: yellow;}