@charset "UTF-8";


.box{
	border: 1px solid blue;
	width: 100px; height: 50px;
}

.flex_box1{
	border: 1px solid red; padding: 5px;
	display: flex; /*가로배치할 요소들의 상위 요소 적용*/

}

.flex_box2{
	border: 1px solid red; padding: 5px;
	display: flex; 
	flex-direction:column;
}

.flex_box3{
	border: 1px solid red; padding: 5px;
	display: flex; 
	flex-direction:row-reverse;
}

.flex_box4{
	border: 1px solid red; padding: 5px;
	display: flex; 
	flex-direction:column-reverse;
}