@charset "UTF-8";
/* 채팅과 명단 */
.chattingwrap{

	display: flex;
	justify-content: center;
}
.connectlistbox{width : 15%;}
.connectbox{
	display: flex; align-items: flex-end;
	margin-bottom: 20px;
	}

.cattingbox{ /* 채팅 전체 구역 */
	width: 35%;
}

.connectbox  .name { margin-left: 10px;}
.contentbox{	/* 채팅 정보가 출력되는 구역 */
	background-image : url("/jspweb/img/배경.jpg");
	background-size : 150px;
	height: 500px;
	/* 해당 구역크기보다 내용물이 커지면 스크롤 생성 */
	overflow-y:scroll; 
	padding: 20px;
}
.secontent{ /* 보낼때 */
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: 15px;
}
.secontent .content { /*보낼때 내용상자 색상 */
	background-color: #FBFEB6;
}
.date{ /*시간 */
	font-size: 2px;  margin: 0px 5px;
}
.content{ /* 내용물 */
	background-color: #B7EAD8;
	border-radius: 10px;
	padding: 10px;
	/* 해당 구역크기보다 내용물이 커지면 자동줄바꿈처리 */
	max-width: 70%;	/* 해당 구역크기의 최대 사이즈 */
	word-break : break-all;
	font-size: 12px;
}
.alarm{	/* 알람메시지 */
	width: 70%; margin: 20px auto;
	font-size: 5px;
	text-align: center;
	background-color: #D1CFD0;
	border-radius: 10px;
}
.tocontent{
	display: flex;
	justify-content: flex-start;
	margin-top: 15px;
}
.name{ font-size: 12px; }
.rcontent{
	margin-left: 8px;
}

.contentdate{
	display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

/*스크롤숨기기*/

.contentbox::-webkit-scrollbar  {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.msgbox{
	width: 100%;
	border: 1px solid #e8e8e8;
	padding: 15px;
	resize: none;
}
/* 이모티콘,보내기 버튼*/
.cattingbtnbox{
	display: flex;
	justify-content: space-between;
}
.emobtn{
	background-color: transparent;
	border: none;
	padding: 5px 5px;
	font-size: 20px;
}

.emolist{
	width: 300px; height: 300px;	
	overflow-y:scroll; 
}

.sendbtn{
	padding : 10px;
	font-size : 12px;
	background-color: #DDE0FF;
	border: none;
	border-radius: 5px;
}
/* 내용물안에 사진이 있으면 배경 투명 */
.emocontent{
	background-color: transparent  !important;
}
