@charset "UTF-8";
/* 폰트 */
@font-face {
    font-family: 'Dovemayo_wild';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/Dovemayo_wild.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*----------------- 기본설정----------------------*/
*{ margin: 0; padding: 0;}
a{ text-decoration: none; color: black; }
li{list-style-type: none;}
.header{  
	display: flex;	align-items: center;
	justify-content: space-between;
	margin: 20px 0p}
h3{
	font-family: 'ONE-Mobile-POP';
 	margin-bottom: 10px;
  }	
/*----------------------------------------------*/
a:visited {/*클릭한 적이 있을때*/
		color: black;
}

/*헤더 로그인 프로필*/
.hpimg{
	width: 50px;
	height: 50px;
	border: solid 1px #e8e8e8;
	border-radius: 50%;
}
.hpimgbtn{
	border: none;
	background-color: transparent;
}
.hpimgbtn img {margin-right: 20px;}
.title{
	width : 20%;
	text-align: center;
	font-size: 13px;
}
.title img{	width: 100; height: 150px;}
.mainmenu{
	width : 60%; 
	display: flex;
	justify-content: center;
	margin:  0px !important;
	font-family: 'ONE-Mobile-POP';
	font-size: 20px;
	}
.mainmenu li{
	margin-right: 15px;
	}	
.mainmenu a {
	color :#B5B5B5;	
}
.mainmenu a:hover{
	color : black;
	
}
.submenu{
	width : 30%;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 20px;
}
.submenu a{margin: 0px 10px; font-size: 12px;}

.mimg{
	width: 200px;
	height: 200px;
	border : solid 1px #B5B5B5;
	border-radius: 50%;
}
.logout{
	font-size: 12px;
}
.btnbox{
	display: flex; justify-content: flex-end;
	margin-bottom: 10px;
}
/*-----------------------------------------------------------*/
html, body{
	height: 100%;
	/*부모요소의 사이즈가 존재해야 자식요소 사이즈 지정 가능*/
	/*해당구역 스크롤바 제거*/
	-ms-overflow-style : none;
}
/*브라우저의 스크롤바 제거 [크롬기준]*/
::-webkit-scrollbar{display: none;}
/*--------------------------카카오지도-------------------------*/
.contentbox{
	display:flex;width:100%;height:100%;
}
.searchbox{
	position:fixed; left : 10px; top:50px; z-index : 100;
		width:200px; height:200px; background-color : white;
}
/*사이드바구역*/
.productListbox{
	width: 20%;
	height: 100%;
}
.productbox{
	display: flex;
	padding: 0px 5px 20px 5px;
	border-bottom: solid 1px #e8e8e8;
	margin: 0px 5px 20px 5px;
}
.pimgbox img{
	width: 100px; 
	height: 100px;
	/*  */
	object-fit : cover;
}
.pcontentbox{
	width: 100%;
}
.pname{
	font-family: 'ONE-Mobile-POP';
	font-size: 20px;
	height : 30%;
	/* 내용물이 구역 사이즈보다 커지면*/
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; /* 넘치면 ...*/
	max-width: 230px;
}
.pprice{
	text-align: right;
	font-family: 'ONE-Mobile-POP';
	 font-size: 17px;
	 margin-top: 20px;
}
.pdate{
	font-size: 10px;
}
.petc{
	font-size: 10px;
	text-align: right;
}