@charset "UTF-8";

.wtite_box{
		width: 700px; /*가로길이*/
		margin: 0 auto; /*box 가운데정렬*/
}
.wtite_t{
	border-top: 3px solid black;
	width: 700px;
}

.wtite_t td{
	border-bottom: solid 1px #eeeeee ; /*아랫줄 테두리*/
	padding: 7px;
}
.wtite_t input{
	width: 500px; height: 25px;
}

.wtite_t textarea{
	width: 500px; height: 100px; resize: none;
}

.btn_box{
	text-align: right;
}
.btn_box input{ padding: 10px; margin: 20px 5px;}
		/*padding : 버튼 크기 조절*/