@charset "EUC-KR";

table tr td{
	/*구역 사이즈보다 내용이 컸을때 내용이 자동 줄바꿈*/
	white-space:nowrap !important; /* 자동 줄바꿈 해제 */
	/* 내용이 사이즈 넘겼을 경우 
	 		hidden : 넘친 내용물 숨기기
	 		scroll : 넘친 내용물이 있을경우 scroll 생성	 		
	 */
	overflow: hidden;
	/*
		text-overflow : 텍스트가 구역 사이즈보다 커졌을때
			text-overflow: ellipsis : 넘친 텍스트들 ... 표현
	*/
	text-overflow: ellipsis;

	max-width: 100px;
}
