@charset "UTF-8";

/* ------------공통------------- */
	/*1. 모든 곳에 여백 제거 2. 기본폰트 맑은 고딕 */
*{ padding: 0px; margin: 0px; font-family: "맑은 고딕"; }
	/*2. 링크[a] 색상 , 밑줄 제거 */
a{ color: black; text-decoration: none; }
	/*3. 글머리 제거 */
li{ list-style-type: none; }
	/*4. 웹폰트 */
@font-face {
    font-family: 'KorailRoundGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/*확인용*/
/* *{ border: 1px solid red;} */
/* ------------헤더------------- */
#header{ 
	width: 1200px; margin: 0 auto; 
	display: flex; justify-content: space-between;
	padding-top: 20px;
}
.top_menu{ padding: 10px 0px; text-align: right; }
.main_menu li{
	display: inline-block; 
	margin-left: 100px; padding: 30px 0px;
}
.main_menu li a{ 
	font-family: 'KorailRoundGothicBold';
	font-size: 20px;
}

/* ------------대표이미지------------- */
#main_img{
	width: 100%; height: 350px;
	background-image: url("../webpage/web1/img/배너.png");
	background-repeat: no-repeat;
	background-position: center;
}
/* ------------본문------------- */
#content{ 
	width: 1200px; margin: 0 auto; 
	height: 600px;
	display: flex; justify-content: space-between;
}
/* --- 1.사이드바 ----*/
.side_bar{ width: 250px; }
.side_bar h3{ 
	background-color: #0CA9A3;
	color: white;
	font-size: 20px;
	padding: 15px;
}
.side_bar p{ padding: 15px; line-height: 150%; }
.side_bar .search_input{ width: 170px; height: 30px;}
.side_bar .search_btn{ margin-left:5px; padding: 6px 10px;}
.side_bar h4{
	border-top: solid 2px black;
	border-bottom: solid 1px #eeeeee;
	padding: 15px; font-size: 15px;
	margin-top: 20px;
}
.side_bar li{ padding: 10px 15px;}


/* --- 2.메인 본문 ----*/
.main_content{ 
	width: 940px; 
	display: flex; justify-content: space-between;
}

/* 1. 게시판 */
.left_content{ width: 460px; }
.main_content h3{ 
	border-bottom: solid 2px black; 
	padding-bottom: 8px;
}
.board_ul{ margin: 10px 0px 40px 0px }

.board_ul .items{ 
	display: flex; justify-content: space-between;
	padding: 8px 0px;
}

/* 2. 제품 */
.right_content{ width: 460px;  }
.product_ul{ width:200px; margin: 20px 15px 20px 15px; }
.product_list{ display: flex; flex-wrap: wrap; }

/* ------------푸터------------- */
#footer{ background-color: #05354E; margin-top: 50px;  }

.ft_content{ 
	width: 1200px; margin: 0 auto; 
	color: white; padding: 30px;
}
.ft_top li{ 
	display: inline-block; margin-right: 20px; 
	font-weight: bold;
}
.ft_sub{
	margin: 50px 0px;
	display: flex; justify-content: space-between;
}
